@layer themes {
  :root {
    --warn: 47.9 95.8% 53.1%;
    --warn-foreground: 26 83.3% 14.1%;
  }

  .dark {
    --warn: 47.9 95.8% 53.1%;
    --warn-foreground: 26 83.3% 14.1%;
  }

  :root .qsmp,
  :root .frogg,
  :root .purgatory,
  :root .twitch {
    --background: var(--theme-hue) 0% 100%;
    --foreground: var(--theme-hue) 14.3% 4.1%;
    --card: var(--theme-hue) 0% 100%;
    --card-foreground: var(--theme-hue) 14.3% 4.1%;
    --popover: var(--theme-hue) 0% 100%;
    --popover-foreground: var(--theme-hue) 14.3% 4.1%;
    --primary: var(--theme-hue) 95.8% 53.1%;
    --primary-foreground: var(--theme-hue) 83.3% 14.1%;
    --secondary: var(--theme-hue) 4.8% 95.9%;
    --secondary-foreground: var(--theme-hue) 9.8% 10%;
    --muted: var(--theme-hue) 4.8% 95.9%;
    --muted-foreground: var(--theme-hue) 5.3% 44.7%;
    --accent: var(--theme-hue) 4.8% 95.9%;
    --accent-foreground: var(--theme-hue) 9.8% 10%;
    --destructive: var(--theme-hue) 84.2% var(--theme-hue) 0.2%;
    --destructive-foreground: var(--theme-hue) 9.1% 97.8%;
    --border: var(--theme-hue) 5.9% 90%;
    --input: var(--theme-hue) 5.9% 90%;
    --ring: var(--theme-hue) 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark .qsmp,
  .dark .frogg,
  .dark .purgatory,
  .dark .twitch {
    --background: var(--theme-hue) 2% 13%;
    --foreground: var(--theme-hue) 1% 99%;
    --card: var(--theme-hue) 0% 13%;
    --card-foreground: var(--theme-hue) 1% 99%;
    --popover: var(--theme-hue) 0% 13%;
    --popover-foreground: var(--theme-hue) 1% 99%;
    --primary: var(--theme-hue) 100% 65%;
    --primary-foreground: var(--theme-hue) 83.3% 14.1%;
    --secondary: var(--theme-hue) 6.5% 15.1%;
    --secondary-foreground: var(--theme-hue) 9.1% 97.8%;
    --muted: var(--theme-hue) 6.5% 15.1%;
    --muted-foreground: var(--theme-hue) 5.4% 63.9%;
    --accent: var(--theme-hue) 6.5% 15.1%;
    --accent-foreground: var(--theme-hue) 9.1% 97.8%;
    --destructive: var(--theme-hue) 62.8% 30.6%;
    --destructive-foreground: var(--theme-hue) 9.1% 97.8%;
    --border: var(--theme-hue) 6.5% 15.1%;
    --input: var(--theme-hue) 6.5% 15.1%;
    --ring: var(--theme-hue) 91.7% 32.9%;
  }

  .purgatory {
    --theme-hue: 178;
  }

  .qsmp {
    --theme-hue: 42;
  }

  .frogg {
    --theme-hue: 135;
  }

  .twitch {
    --theme-hue: 336;
  }
}
